img{
    max-width: 100%;
}

ul,
ol,
menu{
    list-style: none;
}

input,
textarea{
    border: 0;
    border-bottom: 1px solid lightgray;
    padding: 5px;
}

:root{
    --darkblue--: #2c3e50;
    --blue--: #3a556d;
    --green--: #19bc9c;
}

.main-header,
.main-footer .copyright{
background-color: var(--darkblue--);
}

.hero, 
.about {
    background-color: var(--green--);
}

.main-footer .info{
    background-color: var(--blue--);
}

.main-header,
.main-content,
.main-footer{
    color: white;
}

.portfolio,
.contact{
    color: var(--darkblue--);
}

.img-avatar{
    width: 50%;
}

.star:before,
.star:after{
    content: '';
    display: inline-block;
    align-items: center;
    background-color: currentColor;
    width: 10rem;
    height: 3px;
}

.list-hero{
    font-size: 18px;
    padding-top: 10px;
    padding-left: 10px;
}

.col-button button{
    border-color: currentColor;
}

.btn-primary{
    --bs-btn-bg: none;
    background-color: var(--green--);
    border: none;
}

/* .item-hero:before,
.item-hero::after{
    content: '';
    display: inline-block;
    align-items: center;
    background-color: currentColor;
    width: 2%;
    height: 2px;
} */


/* mediaquery MOBILE FIRST */
@media (min-width: 576px) { 
    .text-about-p{
        padding-top: 10px;
    }
}

@media (min-width: 768px) { 

}

@media (min-width: 992px) { 
    .text-about-p{
        padding-top: 0;
    }
}

@media (min-width: 1200px) { 

}

@media (min-width: 1400px) { 

}



/* debug */
/* .row{
    border: 1px solid red;
}

.row > *{
    border: 1px solid slateblue;
} */
